.slide .first-slide__header {
	margin:30px 0 0;
	color:#FFF;
	text-align:center;
	font-size:70px;
}

.slide .first-slide__paragraph {

	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}

.styled-code {
	background: #f5f2f0;
	white-space: pre-wrap !important;

	font-size: 1rem;
	font-family: "Operator Mono SSm A","Operator Mono SSm B",monospace;
	font-weight: 300;
}

.button-container {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.button {
	border-radius: 3px;
    padding: 0.25em 1em;
    margin: 0 0.5em;
    background: transparent;
    color: palevioletred;
    border: 2px solid palevioletred;
    font-size: 1.5rem;
}

.button__primary {
	background: palevioletred;
    color: white;
}

.code-browser-container {
	display: flex;
}

.code-browser-container > .styled-code {
	flex: 2;
}

.code-browser-container > .browser-mockup {
	margin-left: 1em;
	flex: 1.5;
}

.disclaimer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.disclaimer__img  {
	height: 20rem;
}

.disclaimer__plus {
	font-size: 4rem;
	margin: 1rem;
}

.disclaimer__styled-components {
	background: #db9d5f;
	margin-left: 2rem;
}

.disclaimer-slide h2 {
	margin-bottom: 4px;
}