.slide .first-slide__header {
	margin:30px 0 0;
	color:#FFF;
	text-align:center;
	font-size:70px;
}

.slide .first-slide__paragraph {

	margin:10px 0 0;
	text-align:center;
	color:#FFF;
	font-style:italic;
	font-size:20px;
}

.ttl-note {
    font-size: 23px;
}

.end-slide {
	display: flex;
	flex-direction: column;

	justify-content: center;
	align-items: center;
	height: 100%;
}


.styled-code {
	background: #f5f2f0;
	white-space: pre-wrap !important;

	font-size: 1rem;
	font-family: "Operator Mono SSm A","Operator Mono SSm B",monospace;
	font-weight: 300;
}

.button-container {
	display: flex;
	justify-content: center;
	padding: 1em;
}

.button {
	border-radius: 3px;
    padding: 0.25em 1em;
    margin: 0 0.5em;
    background: transparent;
    color: palevioletred;
    border: 2px solid palevioletred;
    font-size: 1.5rem;
}

.button__primary {
	background: palevioletred;
    color: white;
}

.button__tomato {
	color: tomato;
  	border-color: tomato;
}

.code-browser-container {
	display: flex;
	align-items: center;
}

.code-browser-container > .styled-code {
	flex: 2;
}

.code-browser-container > .browser-mockup {
	margin-left: 1em;
	flex: 1.5;
	border-radius: 3px;
}

.disclaimer {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.disclaimer__img  {
	height: 20rem;
}

.disclaimer__plus {
	font-size: 4rem;
	margin: 1rem;
}

.disclaimer__styled-components {
	background: #db9d5f;
	margin-left: 2rem;
}

.disclaimer-slide h2 {
	margin-bottom: 4px;
}

pre.dom-output code {
	font-size: 20px;
}

.slide .p-without-margin {
	margin-bottom: 0;
}

.inline-js {
	font-family: "Operator Mono SSm A","Operator Mono SSm B",monospace;
	font-weight: 300;
	color: black;
}

.code-compare {
	display: flex;
	justify-content: space-between;
	align-items: center;
}


.code-compare__splitter {
	margin: 8px;
}

.code-compare__example1 {
	flex: 1;
}

.code-compare__example2 {
	flex: 1;
	align-self: flex-start;
}

ul.plus-list > li:lang(ru)::before {
	content: "+";
	padding-right: .7em;
    font-size: 1.8rem;
    width: 1.8em;
}

ul.minus-list > li:lang(ru)::before {
	content: "-";
	    padding-right: .7em;
    font-size: 1.8rem;
    width: 1.8em;
}

.plus-minus-slide h2 {
	margin-bottom: 4px;
}

.ide-list {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	margin-top: 2.5rem;
}

.ide-list__item {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.ide-list__item > img {
	height: 120px;
}

.screen {
	position: relative;
	width: 100%;

	margin-top: 40px;
}

.screen__without-margin {
	margin-top: 0;
}

.screen-video {
	width: 90%;
	border-radius: 4px;
	box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.28);

	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	top: 0;
}

.zeplin-slide {
	padding: 64px 100px 0;
}

.function-compare-slide table th {
     text-align: center;
     font-weight: normal;
     font-size: 20px;
 }

.function-compare-slide table tr:not(:last-of-type)>* {
    background: transparent;
}

.function-compare-slide table td {
    text-align: center;


    border-bottom: solid 1px rgba(88,90,94,.5);
}


.function-compare-slide table td:nth-child(2n) {
    background: rgba(230, 230, 230, 0.7)
}

.function-compare-slide table th:nth-child(2n) {
    background: rgba(230, 230, 230, 0.7)
}

.function-compare-slide table td.cell-bad {
	background: #ff000040;
	border-bottom: solid 1px red;
}

.function-compare-slide table td.cell-good {
	background: #00ff0040;
	border-bottom: solid 1px green;
}

.styled-link {
	color: palevioletred !important;
	font-weight: bold;
}

.video-title {
	bottom: 28px;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
	font-size: 20px;
}

.qr {
	box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.28);
}