.slide .first-slide__header {
    margin: 30px 0 0;
    text-align: center;
    font-size: 70px;
}

.slide .first-slide__paragraph {
    margin: 10px 0 0;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.iphone-container {
    transform: scale(0.6) translateY(-100px) translateX(30%);
    transform-origin: top;
}

.jsx-slide_container {
    display: flex;
    justify-content: space-between;
}

.styled-code {
    background: #f5f2f0;
    white-space: pre-wrap !important;

    font-size: 1rem;
    font-family: "Operator Mono SSm A","Operator Mono SSm B",monospace;
    font-weight: 300;
}

.tverio-logo {
    height: 150px;
}

.screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.screen-wrapper_text {
    font-size: 40px;
}

.stylization-slide_code {
    transform: translateY(-20px);
}

.stylization-slide_screen-wrapper {
    justify-content: center;
    height: 100%;
    padding: 10px;
}

.stylization-slide_button {
    padding: 10px;
    text-align: center;
    background-color: #4d90fe;
    color: white;
    width: 100%;
}