.slide .first-slide__header {
    margin: 30px 0 0;
    text-align: center;
    font-size: 70px;
}

.slide .first-slide__paragraph {
    margin: 10px 0 0;
    text-align: center;
    font-style: italic;
    font-size: 20px;
}

.iphone-container {
    transform: scale(0.6) translateY(-100px) translateX(30%);
    transform-origin: top;
}

.jsx-slide_container {
    display: flex;
    justify-content: space-between;
}

.styled-code {
    background: #f5f2f0;
    white-space: pre-wrap !important;

    font-size: 1rem;
    font-family: "Operator Mono SSm A","Operator Mono SSm B",monospace;
    font-weight: 300;
}

.tverio-logo {
    height: 150px;
}

.screen-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%
}

.screen-wrapper_text {
    font-size: 40px;
}

.stylization-slide_code {
    transform: translateY(-24px);
}

.stylization-slide_screen-wrapper {
    padding: 10px;
}

.stylization-slide_button {
    padding: 10px;
    text-align: center;
    background-color: #4d90fe;
    color: white;
    width: 100%;
    border-radius: 5px;
}

.flex-slide_container {
    display: flex;
    padding: 10px;
}

.flex-slide_square {
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;

    background: orange;
    color: white;
    font-size: 40px;
}

.bridge-scheme {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    align-items: center;
}

.bridge-scheme_realm {
    padding: 50px;
    text-align: center;
    color: white;
}

.bridge-scheme_realm__blue {
    background: #4b86c2;
}

.bridge-scheme_realm__dark-grey {
    background: #5d5d5d;
}

.bridge-scheme_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.double-arrow {
    display: flex;
    align-items: center;
}

:root {
    --double-arrow-size: 60px;
    --double-arrow-color: #a1a1a1;
}

.double-arrow_left-arrow {
    width: 0;
    height: 0;
    border-top: var(--double-arrow-size) solid transparent;
    border-bottom: var(--double-arrow-size) solid transparent;

    border-right: var(--double-arrow-size) solid var(--double-arrow-color);
}

.double-arrow_right-arrow {
    width: 0;
    height: 0;
    border-top: var(--double-arrow-size) solid transparent;
    border-bottom: var(--double-arrow-size) solid transparent;

    border-left: var(--double-arrow-size) solid var(--double-arrow-color);
}

.double-arrow_rectangle {
    padding: 0px 40px;
    background: var(--double-arrow-color);
    color: white;
}

.screen-video {
    width: 110%;
    border-radius: 4px;
    box-shadow: 8px 8px 24px 0 rgba(0, 0, 0, 0.28);
}

.ios-video {
    width: 100%;
}

.play-video-button {
    width: 0;
    height: 0;
    border-top: 12px solid transparent;
    border-bottom: 12px  solid transparent;

    border-left: 12px  solid #585a5e;

    display: inline-block;
}

