.landing-page-view .visible {
  visibility: visible;
  opacity: 1;
}
.landing-page-view .hide {
  visibility: hidden;
  opacity: 0;
}
.landing-page-view .left30 {
  transform: translateX(-30px);
}
.landing-page-view .left30back {
  transform: translateX(0px);
}
.landing-page-view .books-transform {
  transform: translateX(25px) translateY(-10px);
}
.landing-page-view .books-transform-back {
  transform: translateX(0px) translateY(0px);
}
.landing-page-view.isAnimated #Morning_window,
.landing-page-view.isAnimated #Day_window {
  transition: visibility 2s, opacity 3s linear;
}
.landing-page-view.isAnimated #Screen_1,
.landing-page-view.isAnimated #Screen_2 {
  transition: visibility 2s, opacity 2s linear;
}
.landing-page-view.isAnimated #Coffee_cup {
  transition: transform 1s, visibility 1s, opacity 1s linear;
}
.landing-page-view.isAnimated #Coffee_cup.left30back {
  transition: transform 0.1s linear;
}
.landing-page-view.isAnimated #Camera {
  transition: visibility 1s, opacity 1s linear;
}
.landing-page-view.isAnimated #Lamp_on {
  transition: visibility 2s, opacity 2s linear;
}
.landing-page-view.isAnimated #Books,
.landing-page-view.isAnimated #Robot {
  transition: transform 1s linear;
}
.landing-page-view.isAnimated #Robot.left30back {
  transition: transform 0.5s linear;
}
.landing-page-view.isAnimated #Books.books-transform-back {
  transition: transform 0.5s linear;
}
.landing-page-view svg {
  width: 100%;
}
@media only screen and (max-height: 782px) {
  .landing-page-view svg {
    height: 95%;
  }
}
.application-header {
  width: 100%;
  height: 50px;
  background-color: #53c8d3;
}
.application-header-navigation {
  margin-left: 50%;
  margin-top: 10px;
}
.application-header-navigation-link {
  color: #ffffff;
  text-decoration: none;
}
.application-header-navigation-link:hover {
  text-decoration: underline;
}
.landing-page-view {
  position: absolute;
  background-color: #53c8d3;
  width: 100%;
  height: calc(100% -  50px);
}

/*# sourceMappingURL=data:application/json;base64,eyJ2ZXJzaW9uIjozLCJzb3VyY2VzIjpbIi4uL21vZHVsZXMvbWFpbi9zdHlsZS9zdHlsZS5sZXNzIiwidGhlbWUubGVzcyJdLCJuYW1lcyI6W10sIm1hcHBpbmdzIjoiQUFLQSxrQkFFRTtFQUNFLG1CQUFBO0VBQ0EsVUFBQTs7QUFKSixrQkFNRTtFQUNFLGtCQUFBO0VBQ0EsVUFBQTs7QUFSSixrQkFVRTtFQUNFLFdBQVcsaUJBQVg7O0FBWEosa0JBYUU7RUFDRSxXQUFXLGVBQVg7O0FBZEosa0JBaUJFO0VBQ0UsV0FBVyxpQkFBZ0IsaUJBQTNCOztBQWxCSixrQkFvQkU7RUFDRSxXQUFXLGdCQUFlLGVBQTFCOztBQUVGLGtCQUFDLFdBQ0M7QUFERixrQkFBQyxXQUNrQjtFQUNmLDRDQUFBOztBQUZKLGtCQUFDLFdBSUM7QUFKRixrQkFBQyxXQUlZO0VBQ1QsNENBQUE7O0FBTEosa0JBQUMsV0FPQztFQUNFLDBEQUFBOztBQUNBLGtCQVRILFdBT0MsWUFFRztFQUNDLGlDQUFBOztBQVZOLGtCQUFDLFdBYUM7RUFDRSw0Q0FBQTs7QUFkSixrQkFBQyxXQWdCQztFQUNFLDRDQUFBOztBQWpCSixrQkFBQyxXQW1CQztBQW5CRixrQkFBQyxXQW1CUztFQUNOLCtCQUFBOztBQXBCSixrQkFBQyxXQXNCQyxPQUFNO0VBQ0osaUNBQUE7O0FBdkJKLGtCQUFDLFdBeUJDLE9BQU07RUFDSixpQ0FBQTs7QUFqRE4sa0JBc0RFO0VBQ0UsV0FBQTs7QUFRSix3QkFMNkM7RUFRN0Msa0JBUEk7SUFDRSxXQUFBOzs7QUMzRE47RUFDRSxXQUFBO0VBQ0EsWUFBQTtFQUNBLHlCQUFBOztBQUdGO0VBQ0UsZ0JBQUE7RUFDQSxnQkFBQTs7QUFHRjtFQUNFLGNBQUE7RUFDQSxxQkFBQTs7QUFDQSxtQ0FBQztFQUNDLDBCQUFBOztBQUlKO0VBQ0Usa0JBQUE7RUFDQSx5QkFBQTtFQUNBLFdBQUE7RUFDQSxRQUFRLGtCQUFSIiwic291cmNlc0NvbnRlbnQiOlsiQHdpbmRvd01hcmdpbkxlZnRSaWdodDogMTUlO1xyXG5Ad2luZG93TWFyZ2luVG9wOiAxMCU7XHJcblxyXG5AdGFibGVNYXJnaW5Cb3R0b206IDIwJTtcclxuXHJcbi5sYW5kaW5nLXBhZ2UtdmlldyB7XHJcblxyXG4gIC52aXNpYmxlIHtcclxuICAgIHZpc2liaWxpdHk6IHZpc2libGU7XHJcbiAgICBvcGFjaXR5OiAxO1xyXG4gIH1cclxuICAuaGlkZSB7XHJcbiAgICB2aXNpYmlsaXR5OiBoaWRkZW47XHJcbiAgICBvcGFjaXR5OiAwO1xyXG4gIH1cclxuICAubGVmdDMwIHtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgtMzBweCk7XHJcbiAgfVxyXG4gIC5sZWZ0MzBiYWNrIHtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwcHgpO1xyXG4gIH1cclxuXHJcbiAgLmJvb2tzLXRyYW5zZm9ybSB7XHJcbiAgICB0cmFuc2Zvcm06IHRyYW5zbGF0ZVgoMjVweCl0cmFuc2xhdGVZKC0xMHB4KTtcclxuICB9XHJcbiAgLmJvb2tzLXRyYW5zZm9ybS1iYWNrIHtcclxuICAgIHRyYW5zZm9ybTogdHJhbnNsYXRlWCgwcHgpdHJhbnNsYXRlWSgwcHgpO1xyXG4gIH1cclxuICAmLmlzQW5pbWF0ZWQge1xyXG4gICAgI01vcm5pbmdfd2luZG93LCAjRGF5X3dpbmRvdyB7XHJcbiAgICAgIHRyYW5zaXRpb246IHZpc2liaWxpdHkgMnMsIG9wYWNpdHkgM3MgbGluZWFyO1xyXG4gICAgfVxyXG4gICAgI1NjcmVlbl8xLCAjU2NyZWVuXzIge1xyXG4gICAgICB0cmFuc2l0aW9uOiB2aXNpYmlsaXR5IDJzLCBvcGFjaXR5IDJzIGxpbmVhcjtcclxuICAgIH1cclxuICAgICNDb2ZmZWVfY3VwIHtcclxuICAgICAgdHJhbnNpdGlvbjogdHJhbnNmb3JtIDFzLCB2aXNpYmlsaXR5IDFzLCBvcGFjaXR5IDFzIGxpbmVhcjtcclxuICAgICAgJi5sZWZ0MzBiYWNre1xyXG4gICAgICAgIHRyYW5zaXRpb246IHRyYW5zZm9ybSAwLjFzIGxpbmVhcjtcclxuICAgICAgfVxyXG4gICAgfVxyXG4gICAgI0NhbWVyYSB7XHJcbiAgICAgIHRyYW5zaXRpb246IHZpc2liaWxpdHkgMXMsIG9wYWNpdHkgMXMgbGluZWFyO1xyXG4gICAgfVxyXG4gICAgI0xhbXBfb24ge1xyXG4gICAgICB0cmFuc2l0aW9uOiB2aXNpYmlsaXR5IDJzLCBvcGFjaXR5IDJzIGxpbmVhcjtcclxuICAgIH1cclxuICAgICNCb29rcywgI1JvYm90IHtcclxuICAgICAgdHJhbnNpdGlvbjogdHJhbnNmb3JtIDFzIGxpbmVhcjtcclxuICAgIH1cclxuICAgICNSb2JvdC5sZWZ0MzBiYWNrIHtcclxuICAgICAgdHJhbnNpdGlvbjogdHJhbnNmb3JtIDAuNXMgbGluZWFyO1xyXG4gICAgfVxyXG4gICAgI0Jvb2tzLmJvb2tzLXRyYW5zZm9ybS1iYWNrIHtcclxuICAgICAgdHJhbnNpdGlvbjogdHJhbnNmb3JtIDAuNXMgbGluZWFyO1xyXG4gICAgfVxyXG5cclxuICB9XHJcblxyXG4gIHN2ZyB7XHJcbiAgICB3aWR0aDogMTAwJTtcclxuICB9XHJcblxyXG4gIEBtZWRpYSBvbmx5IHNjcmVlbiBhbmQgKG1heC1oZWlnaHQ6IDc4MnB4KSB7XHJcbiAgICBzdmcge1xyXG4gICAgICBoZWlnaHQ6IDk1JTtcclxuICAgIH1cclxuICB9XHJcbn1cclxuXHJcblxyXG4iLCJAYmFzZUJhY2tncm91bmQ6ICM1M2M4ZDM7XHJcbkBuYXZDb2xvcjogI2ZmZmZmZjtcclxuQGhlYWRlckhlaWdodDogNTBweDtcclxuXHJcbkBpbXBvcnQgXCIuLi9tb2R1bGVzL21haW4vc3R5bGUvc3R5bGVcIjtcclxuXHJcbi5hcHBsaWNhdGlvbi1oZWFkZXIge1xyXG4gIHdpZHRoOiAxMDAlO1xyXG4gIGhlaWdodDogQGhlYWRlckhlaWdodDtcclxuICBiYWNrZ3JvdW5kLWNvbG9yOiBAYmFzZUJhY2tncm91bmQ7XHJcbn1cclxuXHJcbi5hcHBsaWNhdGlvbi1oZWFkZXItbmF2aWdhdGlvbiB7XHJcbiAgbWFyZ2luLWxlZnQ6IDUwJTtcclxuICBtYXJnaW4tdG9wOiAxMHB4O1xyXG59XHJcblxyXG4uYXBwbGljYXRpb24taGVhZGVyLW5hdmlnYXRpb24tbGluayB7XHJcbiAgY29sb3I6IEBuYXZDb2xvcjtcclxuICB0ZXh0LWRlY29yYXRpb246IG5vbmU7XHJcbiAgJjpob3ZlciB7XHJcbiAgICB0ZXh0LWRlY29yYXRpb246IHVuZGVybGluZTtcclxuICB9XHJcbn1cclxuXHJcbi5sYW5kaW5nLXBhZ2UtdmlldyB7XHJcbiAgcG9zaXRpb246IGFic29sdXRlO1xyXG4gIGJhY2tncm91bmQtY29sb3I6IEBiYXNlQmFja2dyb3VuZDtcclxuICB3aWR0aDogMTAwJTtcclxuICBoZWlnaHQ6IGNhbGMoficxMDAlIC0gJ0BoZWFkZXJIZWlnaHQpO1xyXG59Il0sImZpbGUiOiJ0aGVtZS5jc3MiLCJzb3VyY2VSb290IjoiL3NvdXJjZS8ifQ== */
